.wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_element {
  margin-inline: auto;
  background-color: #eeeeee;
  position: relative;
}
.particle_element {
  position: absolute;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: black;
}

.control_items {
  margin-left: 10px;
  border: 2px solid darkslategray;
}
.control_item {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#control_simulation {
  padding: 0;
  border-bottom: 1px solid gray;
  height: 200px;
  overflow-y: auto;
  display: flex;
  justify-content: right;
}
#control_simulation input {
  width: 60px;
}
#control_simulation table th {
  position: sticky;
  top: 0;
  background-color: lightslategray;
}
#control_simulation table th:nth-of-type(1),
#control_simulation table td:nth-of-type(1),
#control_particles table th:nth-of-type(1),
#control_particles table td:nth-of-type(1) {
  padding-left: 20px;
}
#control_simulation table th:last-of-type,
#control_simulation table td:last-of-type,
#control_particles table th:last-of-type,
#control_particles table td:last-of-type {
  padding-right: 20px;
}
#control_simulation table tr:last-of-type {
  position: sticky;
  bottom: 0;
  background-color: lightslategray;
}

#control_add_particle input {
  width: 60px;
}

#simulation_timer {
  font-size: 24px;
  text-align: center;
}

#control_particles {
  padding: 0;
  border-top: 1px solid gray;
  height: 200px;
  overflow-y: auto;
  display: flex;
  justify-content: right;
}
#control_particles table th {
  position: sticky;
  top: 0;
  background-color: lightslategray;
}
#control_particles table tr:nth-of-type(even) {
  background-color: whitesmoke;
}
.control_particle_input {
  width: 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}