* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body, html {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 300px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin: 15px 0;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: rgb(255, 191, 71);
  text-decoration: none;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* overflow: auto; */
  gap: 10px;
}
.wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.wrapper_controls {
  background-color: gray;
  background-image: linear-gradient(rgb(243, 248, 250), rgb(215, 221, 221));
  background-blend-mode: overlay;
  border: solid 1px lightgray;
  margin-bottom: 20px;
}
.wrapper_simulation_controls {
  gap: 10px;
}
.control_bar {
  padding: 10px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control_bar button {
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 4px;
}
.control_bar button:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.075);
}
#setting_icons {
  padding-left: 12px;
}
#setting_icons button {
  margin-right: 10px;
  position: relative;
}
#setting_icons .icon {
  font-size: 32px;
}
.icon {
  display: inline-block; /* Ensure it rotates properly */
  transition: transform 0.5s ease-in-out; /* Smooth animation */
}
#control_timer table {
  border-spacing: 0;
}
#control_timer table td {
  padding: 0;
}
#control_timer button {
  padding: 0;
}
#animation_timer {
  font-size: 20px;
  text-align: center;
}

input:not(input[type="checkbox"]), textarea, select {
  margin: 2px;
  padding: 2px;
  border: solid 1px lightgrey;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px hsla(0, 0%, 0%, 0.075);
}
input:disabled {
  cursor: not-allowed;
}
.disabled_input_label {
  color: gray;
  cursor: not-allowed;
}
.input_wrapper_xy {
  display: flex;
  justify-content: space-between;
}
.input_wrapper_xy input {
  width: 60px;
}
button {
  cursor: pointer;
}
.delete_button {
  background-color: rgb(155, 37, 37) !important;
}
.drag_icon {
  cursor: grab;
}
/* button {
  padding: 2px;
  border: solid 1px lightgray;
  border-radius: 4px;
  background-image: linear-gradient(rgb(243, 248, 250), rgb(215, 221, 221));
  background-blend-mode: overlay;
  background-color: gray;
} */
/* button:not([disabled]):hover {
  background-color: rgb(104, 139, 151);
} */
button .tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: #343536;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 999;
  top: 48px;
  left: -40px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
/* Show the tooltip text when you mouse over the tooltip container */
button .tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-top: transparent;
  border-color: #343536 transparent;
}
button:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}
dialog {
  border: none;
  border-radius: 4px;
  justify-self: center;
  align-self: center;
}
dialog::backdrop {
  background-color:rgba(0,0,0,0);
}
.dialog_wrapper {
  min-width: 200px;
  min-height: 150px;
  border: solid 1px gray;
  border-radius: 4px;
  background-color: white;
  padding: 8px;
}
.draggable {
  position: absolute;
  justify-self: auto;
  align-self: auto;
  top: 50vh;
  left: 62vw;
}
.menu_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  padding: 12px;
  border: solid 1px lightgray;
  border-radius: 4px;
  margin-top: 8px;
}
.menu_item select {
  width: 200px;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  border: solid 1px lightgray;
}
.menu_item table td:not(:last-child) {
  padding-right: 16px;
}
.menu_item table input:not(input[type="checkbox"]) {
  width: 150px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(222, 222, 222);
  box-shadow: inset 0px 0px 0px 0px red;
  border-radius: 0;
}
.menu_item select:focus {
  border: 2px solid #2f72dc;
}
.menu_item table .input_wrapper_xy input:not(input[type="checkbox"]) {
  width: 60px;
}
.menu_item table input:focus {
  border-bottom: 2px solid #2f72dc !important;
}

.container_element {
  margin-inline: auto;
  background-color: white;
  position: relative;
  background-size: 19.5px 19.5px;  /* Make this dynamic in UI settings */
  background-image:
    linear-gradient(to right, rgb(233, 233, 233) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(233, 233, 233) 1px, transparent 1px);
  border: solid 1px #343536;
  overflow: hidden;
  z-index: 1;
}
.container_dark_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* allows clicks to pass through */
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 4;
}
.particle_element {
  position: absolute;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: black;
  z-index: 3;
}
.highlighted_particle_element {
  border: solid 3px white;
  z-index: 5;
}
.point {
  /* for drawing trajectories (currently unused) */
  position: absolute;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  background-color: gray;
  z-index: 2;
}

.xy_arrow_wrapper {
  /* position already set to absolute by constructor */
  display: flex;
  align-items: center;
}
.xy_arrow_head {
  /* Point to right by default */
  width: 0;
	height: 0;
  border-top: 8px solid transparent;
	border-left: 16px solid black;
	border-bottom: 8px solid transparent;
  margin-left: -1px;
}
.xy_arrow_body {
  width: 16px;
  height: 8px;
  background-color: black;
}
.z_arrow_dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
}
.z_arrow_cross {
  background: black;
  height: 20px;
  position: relative;
  width: 4px;
  transform: rotate(45deg);
}
.z_arrow_cross:after {
  background: inherit;
  content: "";
  height: 4px;
  left: -8px;
  position: absolute;
  top: 8px;
  width: 20px;
}

.control_items_wrapper {
  margin-left: 20px;
  border: 2px solid darkslategray;
  height: 100%;
  width: 400px;
}
#control_item_display {
  display: flex;
  padding: 10px;
}
.control_item {
  display: none;
  padding: 16px;
}
.control_item > header {
  font-size: 24px;
  margin-bottom: 20px;
}
.control_item > div {
  margin-bottom: 20px;
}
#simsetup_global_variables_wrapper {
  border: solid 1px lightgray;
  padding: 16px;
  border-radius: 4px;
}

#simsetup_presets_wrapper {
  display: flex;
  align-items: center;
}
#simsetup_presets_dropdown {
  font-size: 16px;
  padding: 7px;
}
#simsetup_global_variables_wrapper table td {
  width: 150px;
  padding: 2px;
}
#simsetup_global_variables_wrapper input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(222, 222, 222);
  box-shadow: inset 0px 0px 0px 0px red;
  border-radius: 0;
}
#simsetup_global_variables_wrapper input:focus {
  border-bottom: 2px solid #2f72dc;
}
#simsetup_env_button_wrapper {
  display: flex;
  justify-content: center;
}

#simsetup_presets_wrapper input {
  padding: 8px;
  font-size: 16px;
  margin-right: 4px;
}

#create_particles_amount {
  width: 100px;
  text-align: center;
  font-size: 16px;
  outline: 0;
}
#create_particles_amount:focus {
  border: 2px solid #2f72dc;
}

.dialog_menu button,
#simsetup_presets_wrapper button,
#parsetup_buttons_wrapper button,
#simsetup_env_button_wrapper button {
  margin-right: 4px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(rgb(221, 234, 238), rgb(171, 180, 180));
  background-blend-mode: overlay;
  background-color: rgb(29, 100, 128);
  font-size: 16px;
  color: #eeeeee;
  cursor: pointer;
}
#simsetup_presets_wrapper button,
#parsetup_buttons_wrapper button:hover,
#simsetup_env_button_wrapper button:hover {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    linear-gradient(rgb(221, 234, 238), rgb(171, 180, 180));
  background-blend-mode: overlay;
}
#parsetup_groups_wrapper {
  padding: 0;
  height: 420px;
  overflow-y: scroll;
  /* mask-image: linear-gradient(180deg, #000 60%, transparent); */
}
/* Custom scroll bar styling */
#parsetup_groups_wrapper::-webkit-scrollbar {
  width: 8px;
}
#parsetup_groups_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
#parsetup_groups_wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(152, 179, 179);
  border-radius: 10px;
}
#parsetup_groups_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgb(117, 145, 145);
}

.parsetup_group {
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: gray;
  background-image: linear-gradient(rgb(243, 248, 250), rgb(215, 221, 221));
  background-blend-mode: overlay;
  border: solid 1px lightgray;
  border-radius: 4px;
}
.parsetup_group header {
  display: flex;
  justify-content: space-between;
}
.parsetup_group_title_wrapper {
  display: inline-flex;
  width: 250px;
  padding: 6px;
}
.parsetup_group_icon {
  display: inline-block;
  background-color: #2c3e50;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
.parsetup_group_title {
  display: inline-block;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}
.parsetup_group_buttons_wrapper {
  display: inline-block;
  width: auto;
}
.parsetup_group_buttons_wrapper > button,
.parsetup_par_buttons_wrapper > button {
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 4px 4px 2px 4px;
}
.parsetup_group button:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.parsetup_group ul {
  max-height: 160px;
  overflow-y: scroll;
  margin-top: 16px;
  list-style: none;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 4px;
}
.parsetup_par {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: #e3e4e6;
  background-image: linear-gradient(rgb(243, 248, 250), rgb(215, 221, 221));
  background-blend-mode: overlay;
  border-bottom: solid 1px lightgray;
  border-right: solid 1px lightgray;
}
.parsetup_par_title_wrapper {
  display: inline-flex;
  align-items: center;
  width: 200px;
  padding: 6px;
}
.parsetup_par_title {
  display: inline-block;
}
.parsetup_par_icon {
  display: inline-block;
  background-color: #ffca67;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
.parsetup_par_buttons_wrapper {
  display: inline-block;
  width: auto;
}

#control_presets {
  flex-direction: column;
}
#control_presets div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 325px;
  margin: auto;
}
#control_presets button {
  margin: 4px;
}

#control_simulation {
  padding: 0;
  border-bottom: 1px solid gray;
  height: 200px;
  min-width: 100%;
  overflow-y: auto;
  justify-content: right;
}
#control_simulation input {
  width: 60px;
}
#control_simulation table th {
  position: sticky;
  top: 0;
  background-color: lightslategray;
}
#control_simulation table th:nth-of-type(1),
#control_simulation table td:nth-of-type(1),
#control_particles table th:nth-of-type(1),
#control_particles table td:nth-of-type(1) {
  padding-left: 20px;
}
#control_simulation table th:last-of-type,
#control_simulation table td:last-of-type,
#control_particles table th:last-of-type,
#control_particles table td:last-of-type {
  padding-right: 20px;
}
#control_simulation table tr:last-of-type {
  position: sticky;
  bottom: 0;
  background-color: lightslategray;
}

#control_particles {
  padding: 0;
  border-top: 1px solid gray;
  height: 200px;
  overflow-y: auto;
  justify-content: right;
}
#control_particles_table > thead > tr > th {
  position: sticky;
  top: 0;
  background-color: lightslategray;
}
#control_particles_table tr:nth-of-type(even) {
  background-color: whitesmoke;
}
.control_particle_input {
  width: 100px;
}
#control_particles_table dialog {
  margin: auto;
  margin-right: 100px;
  padding: 10px;
  gap: 10px;
}
#control_particles_table .modal_buttons {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px gray;
}
#control_particles_table .update_btn {
  background-color: rgb(83, 255, 83);
}
#control_particles_table .update_btn:hover {
  background-color: rgb(61, 180, 61);
}
#control_particles_table .delete_btn {
  background-color: rgb(250, 103, 103);
}
#control_particles_table .delete_btn:hover {
  background-color: rgb(177, 74, 74);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#to_be_removed {
  display: none;
}

/* Band aid fix to remove overrides from specific fields */
#input_id_group_id_random_override_of_createGroup,
#input_id_group_id_unspecified_override_of_createGroup {
  display: none;
}